In [1]:
import numpy as np
import pandas as pd

In [2]:
labels = ['a','b','c','d']

In [3]:
data = [10,20,30,40]

In [4]:
arr = np.array(data)

In [5]:
arr

array([10, 20, 30, 40])

##  Creating Series

In [7]:
pd.Series(data,index = labels)

a    10
b    20
c    30
d    40
dtype: int64

In [10]:
pd.Series(np.arange(5),index=('a','b','c','d','e'))

a    0
b    1
c    2
d    3
e    4
dtype: int32

In [11]:
labels

['a', 'b', 'c', 'd']

In [13]:
ser1 = pd.Series([1,2,3,4],['usa','china','rssa','india'])

In [14]:
ser1

usa      1
china    2
rssa     3
india    4
dtype: int64

In [16]:
ser1['china']

2

In [17]:
ser1['india']

4

In [18]:
ser2 = pd.Series([1,2,3,4],['usa','china','aus','india'])

In [19]:
ser2

usa      1
china    2
aus      3
india    4
dtype: int64

In [20]:
ser1+ser2

aus      NaN
china    4.0
india    8.0
rssa     NaN
usa      2.0
dtype: float64