In [1]:
import pandas as pd
import numpy as np

In [2]:
np.random.seed(100)

In [3]:
df = pd.DataFrame(np.random.randn(5,4),index=['A','B','C','D','E'],columns=['X','Y','Z','P'])

In [4]:
df

          X         Y         Z         P
A -1.749765  0.342680  1.153036 -0.252436
B  0.981321  0.514219  0.221180 -1.070043
C -0.189496  0.255001 -0.458027  0.435163
D -0.583595  0.816847  0.672721 -0.104411
E -0.531280  1.029733 -0.438136 -1.118318

In [5]:
df['P']

A   -0.252436
B   -1.070043
C    0.435163
D   -0.104411
E   -1.118318
Name: P, dtype: float64

In [6]:
df['X']

A   -1.749765
B    0.981321
C   -0.189496
D   -0.583595
E   -0.531280
Name: X, dtype: float64

In [9]:
df[['Z','Y']]

          Z         Y
A  1.153036  0.342680
B  0.221180  0.514219
C -0.458027  0.255001
D  0.672721  0.816847
E -0.438136  1.029733

In [10]:
type(df)

pandas.core.frame.DataFrame

In [11]:
type(df['P'])

pandas.core.series.Series

In [12]:
df

          X         Y         Z         P
A -1.749765  0.342680  1.153036 -0.252436
B  0.981321  0.514219  0.221180 -1.070043
C -0.189496  0.255001 -0.458027  0.435163
D -0.583595  0.816847  0.672721 -0.104411
E -0.531280  1.029733 -0.438136 -1.118318

In [13]:
df ['new']=df['P']+df['Y']

In [14]:
df

          X         Y         Z         P       new
A -1.749765  0.342680  1.153036 -0.252436  0.090244
B  0.981321  0.514219  0.221180 -1.070043 -0.555824
C -0.189496  0.255001 -0.458027  0.435163  0.690165
D -0.583595  0.816847  0.672721 -0.104411  0.712436
E -0.531280  1.029733 -0.438136 -1.118318 -0.088586

In [15]:
df.drop('new',axis=1)

          X         Y         Z         P
A -1.749765  0.342680  1.153036 -0.252436
B  0.981321  0.514219  0.221180 -1.070043
C -0.189496  0.255001 -0.458027  0.435163
D -0.583595  0.816847  0.672721 -0.104411
E -0.531280  1.029733 -0.438136 -1.118318

In [16]:
df

          X         Y         Z         P       new
A -1.749765  0.342680  1.153036 -0.252436  0.090244
B  0.981321  0.514219  0.221180 -1.070043 -0.555824
C -0.189496  0.255001 -0.458027  0.435163  0.690165
D -0.583595  0.816847  0.672721 -0.104411  0.712436
E -0.531280  1.029733 -0.438136 -1.118318 -0.088586

In [17]:
df.drop('new',axis =1,inplace =True)

In [18]:
df

          X         Y         Z         P
A -1.749765  0.342680  1.153036 -0.252436
B  0.981321  0.514219  0.221180 -1.070043
C -0.189496  0.255001 -0.458027  0.435163
D -0.583595  0.816847  0.672721 -0.104411
E -0.531280  1.029733 -0.438136 -1.118318

In [19]:
df.drop('E',axis=0)

          X         Y         Z         P
A -1.749765  0.342680  1.153036 -0.252436
B  0.981321  0.514219  0.221180 -1.070043
C -0.189496  0.255001 -0.458027  0.435163
D -0.583595  0.816847  0.672721 -0.104411

In [20]:
df.shape

(5, 4)

In [21]:
df.loc['A']

X   -1.749765
Y    0.342680
Z    1.153036
P   -0.252436
Name: A, dtype: float64

In [22]:
df.loc[['A','C']]

          X         Y         Z         P
A -1.749765  0.342680  1.153036 -0.252436
C -0.189496  0.255001 -0.458027  0.435163

In [23]:
df.iloc[2:]

          X         Y         Z         P
C -0.189496  0.255001 -0.458027  0.435163
D -0.583595  0.816847  0.672721 -0.104411
E -0.531280  1.029733 -0.438136 -1.118318

In [24]:
df.iloc[:]

          X         Y         Z         P
A -1.749765  0.342680  1.153036 -0.252436
B  0.981321  0.514219  0.221180 -1.070043
C -0.189496  0.255001 -0.458027  0.435163
D -0.583595  0.816847  0.672721 -0.104411
E -0.531280  1.029733 -0.438136 -1.118318

In [25]:
df.iloc[1:4]

          X         Y         Z         P
B  0.981321  0.514219  0.221180 -1.070043
C -0.189496  0.255001 -0.458027  0.435163
D -0.583595  0.816847  0.672721 -0.104411

In [28]:
df

          X         Y         Z         P
A -1.749765  0.342680  1.153036 -0.252436
B  0.981321  0.514219  0.221180 -1.070043
C -0.189496  0.255001 -0.458027  0.435163
D -0.583595  0.816847  0.672721 -0.104411
E -0.531280  1.029733 -0.438136 -1.118318

In [27]:
df.iloc[1:,2]

B    0.221180
C   -0.458027
D    0.672721
E   -0.438136
Name: Z, dtype: float64

In [29]:
df.loc[['A','D'],['Z','P']]

          Z         P
A  1.153036 -0.252436
D  0.672721 -0.104411

In [30]:
df

          X         Y         Z         P
A -1.749765  0.342680  1.153036 -0.252436
B  0.981321  0.514219  0.221180 -1.070043
C -0.189496  0.255001 -0.458027  0.435163
D -0.583595  0.816847  0.672721 -0.104411
E -0.531280  1.029733 -0.438136 -1.118318

In [31]:
df >0

       X     Y      Z      P
A  False  True   True  False
B   True  True   True  False
C  False  True  False   True
D  False  True   True  False
E  False  True  False  False

In [32]:
df[df>0]

          X         Y         Z         P
A       NaN  0.342680  1.153036       NaN
B  0.981321  0.514219  0.221180       NaN
C       NaN  0.255001       NaN  0.435163
D       NaN  0.816847  0.672721       NaN
E       NaN  1.029733       NaN       NaN

In [34]:
df ['Y']>0

A    True
B    True
C    True
D    True
E    True
Name: Y, dtype: bool

In [37]:
df[df['Y']>0] #it returns all rows if its True

          X         Y         Z         P
A -1.749765  0.342680  1.153036 -0.252436
B  0.981321  0.514219  0.221180 -1.070043
C -0.189496  0.255001 -0.458027  0.435163
D -0.583595  0.816847  0.672721 -0.104411
E -0.531280  1.029733 -0.438136 -1.118318

In [39]:
df[df['Z']<0]

          X         Y         Z         P
C -0.189496  0.255001 -0.458027  0.435163
E -0.531280  1.029733 -0.438136 -1.118318

In [40]:
df[df['P']>0][['X','Z']]

          X         Z
C -0.189496 -0.458027

In [41]:
df[(df['X']>0) and (df['Z']>0)]   # we go error

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [42]:
df[(df['X']>0) & (df['Z']>0)]

          X         Y        Z         P
B  0.981321  0.514219  0.22118 -1.070043

In [43]:
df[(df['X']>0) or (df['Z']>0)] #got Error

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [44]:
df[(df['X']>0) | (df['Z']>0)]

          X         Y         Z         P
A -1.749765  0.342680  1.153036 -0.252436
B  0.981321  0.514219  0.221180 -1.070043
D -0.583595  0.816847  0.672721 -0.104411

In [45]:
df

          X         Y         Z         P
A -1.749765  0.342680  1.153036 -0.252436
B  0.981321  0.514219  0.221180 -1.070043
C -0.189496  0.255001 -0.458027  0.435163
D -0.583595  0.816847  0.672721 -0.104411
E -0.531280  1.029733 -0.438136 -1.118318

In [46]:
df.reset_index() # reset index

  index         X         Y         Z         P
0     A -1.749765  0.342680  1.153036 -0.252436
1     B  0.981321  0.514219  0.221180 -1.070043
2     C -0.189496  0.255001 -0.458027  0.435163
3     D -0.583595  0.816847  0.672721 -0.104411
4     E -0.531280  1.029733 -0.438136 -1.118318

In [47]:
newind = 'IND NY LU ZY KI'.split()

In [50]:
df['new']=newind # add as a column

In [53]:
df.set_index('new',inplace=True) #set index

In [54]:
df

            X         Y         Z         P
new
IND -1.749765  0.342680  1.153036 -0.252436
NY   0.981321  0.514219  0.221180 -1.070043
LU  -0.189496  0.255001 -0.458027  0.435163
ZY  -0.583595  0.816847  0.672721 -0.104411
KI  -0.531280  1.029733 -0.438136 -1.118318

## Multi Index

In [55]:
#index levels

outside = ['G1','G2','G1','G2','G1','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [56]:
 outside

['G1', 'G2', 'G1', 'G2', 'G1', 'G2']

In [57]:
inside

[1, 2, 3, 1, 2, 3]

In [58]:
hier_index = list(zip(outside,inside))

In [59]:
hier_index

[('G1', 1), ('G2', 2), ('G1', 3), ('G2', 1), ('G1', 2), ('G2', 3)]

In [60]:
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [61]:
hier_index

MultiIndex(levels=[['G1', 'G2'], [1, 2, 3]],
           labels=[[0, 1, 0, 1, 0, 1], [0, 1, 2, 0, 1, 2]])

In [62]:
df = pd.DataFrame(np.random.randn(6,2),hier_index,['A','B'])

In [63]:
df

             A         B
G1 1  1.618982  1.541605
G2 2 -0.251879 -0.842436
G1 3  0.184519  0.937082
G2 1  0.731000  1.361556
G1 2 -0.326238  0.055676
G2 3  0.222400 -1.443217

In [64]:
df.loc['G1']

          A         B
1  1.618982  1.541605
3  0.184519  0.937082
2 -0.326238  0.055676

In [65]:
df.loc['G2']

          A         B
2 -0.251879 -0.842436
1  0.731000  1.361556
3  0.222400 -1.443217

In [66]:
df.index.names

FrozenList([None, None])

In [67]:
df.index.names=['Grous','Num']

In [68]:
df

                  A         B
Grous Num
G1    1    1.618982  1.541605
G2    2   -0.251879 -0.842436
G1    3    0.184519  0.937082
G2    1    0.731000  1.361556
G1    2   -0.326238  0.055676
G2    3    0.222400 -1.443217